<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing Data</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="billing_export.css">
  </head>
  <body class="bs-docs-home" ng-controller="BillingExportController">
    <div class="loading-container" ng-show="showLoading">
      <img src="loader.gif" class="loading"/>
    </div>
    <div >
      <a class="sr-only" href="#content">Skip to main content</a>
      <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
	      role="banner">
        <div class="container">
	  <div class="navbar-header">
	    <a href="./" class="navbar-brand"></a>
	  </div>
	  <nav class="collapse navbar-collapse bs-navbar-collapse"
	       role="navigation">
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="mailto:bmenasha@benmenasha.net">{{profile.email}}</a></li>
	      <li><a href="{{ profile.logoutUrl }}">Sign out</a></li>
	    </ul>
	  </nav>
        </div>
      </header>
      <main id="content" role="main">
        <div class="container">
	  <div class="well">
            <h1>Billing Data</h1>
            <select ng-change="projectSelected()" ng-model="project" ng-options="p for p in projects" name="project"></select>

            <div ng-view></div>

            <!-- ShowAlerts Template -->
            <script type="text/ng-template" id="ShowAlerts">
              <br/><u>Alerts</u>
              <div ng-repeat="alert in alerts">
                <b>{{ alert.name }} </b>
                when
                <i>{{alert.target_value}}</i>
                  <span ng-show="alert.trigger == 'TOTAL_AMOUNT'">is greater then</span>
                  <span ng-show="alert.trigger == 'RELATIVE_CHANGE'">percent change</span>
                  <span ng-show="alert.trigger == 'TOTAL_CHANGE'">amount change</span>
                <span ng-show="alert.trigger != 'RELATIVE_CHANGE'">$</span> {{alert.trigger_value}} <span ng-show="alert.trigger != 'RELATIVE_CHANGE'">.00</span><span ng-show="alert.trigger == 'RELATIVE_CHANGE'">%</span>
                <span ng-show="alert.trigger != 'TOTAL_AMOUNT'">
                from one
                  <span ng-show="alert.range == 'ONE_DAY'">day</span>
                  <span ng-show="alert.range == 'ONE_WEEK'">week</span>
                  <span ng-show="alert.range == 'ONE_YEAR'">year</span>
                ago
                </span>
                <a href="#/EditAlert/{{project}}/{{alert.key}}">edit</a>
              </div>
              <a href="#/AddAlert/{{project}}">Add Alert</a>
              <br/>

              <a href="#/EditEmail/{{project}}">Email Subscriptions</a>
            </script>

            <!-- AlertDetail Template. -->
            <script type="text/ng-template" id="AlertDetail">
              <form name="AlertDetail">
                Name: <input type="text" name="alert_name" ng-model="alert.name">
                When <select ng-init="alert.target_value = 'Total'" ng-model="alert.target_value" ng-options="s for s in skus"></select>
                <select ng-init="alert.trigger = 'TOTAL_AMOUNT'" ng-model="alert.trigger">
                  <option value="TOTAL_AMOUNT">Is Greater Then</option>
                  <option value="RELATIVE_CHANGE">Percent Change</option>
                  <option value="TOTAL_CHANGE">Amount Change</option>
                </select>
                <span ng-show="alert.trigger != 'RELATIVE_CHANGE'">$</span> <input type="number" name="alert_trigger_value" ng-model="alert.trigger_value"><span ng-show="alert.trigger != 'RELATIVE_CHANGE'">.00</span><span ng-show="alert.trigger == 'RELATIVE_CHANGE'">%</span>
                <span ng-show="alert.trigger != 'TOTAL_AMOUNT'">
                From one:
                <select ng-init="alert.range = 'ONE_DAY'" ng-model="alert.range">
                  <option value="ONE_DAY">day</option>
                  <option value="ONE_WEEK">week</option>
                  <option value="ONE_YEAR">year</option>
                </select> Ago
                </span>
                <br/><input type="submit" value="Save" ng-click="save()"><input type="submit" value="Delete" ng-show="alert.key" ng-click="remove()"><a href="#/Project/{{project}}">Cancel</a>
              </form>
              {{ message }}
            </script>


            <!-- EmailDetail Template. -->
            <script type="text/ng-template" id="EmailDetail">
              <form name="EmailDetail">
                  Email: <input type="email" name="email" ng-model="subscriptionEmail"> <input type="button" value="Add" ng-click="addEmail()">
                  Daily Summary?: <input type="checkbox" name="dailySummaries" ng-model="subscription.dailySummary">
                  <div>
                    <ul>
                      <li ng-repeat="email in subscription.emails">
                        <input type="checkbox" ng-model="email.unsubscribe"> <span class="unsubscribe-{{email.unsubscribe}}">{{email.email}}</span>
                      </li>
                    </ul>
                  </div>
                  <br/><input type="submit" value="Save" ng-click="save()"><a href="#/Project/{{project}}">Cancel</a>
                </form>
            </script>

            <!--Div that will hold the line chart-->
            <div id="tree_chart_div"></div>
            <hr/>
            <div id="line_chart_div"></div>


<!--
            <form method="POST" action="/flushCache"><input type="submit" value="Flush All Caches"></form>
-->
          </div>
        </div>
      </main>
      <footer class="container text-center" role="contentinfo">
        <a href="https://cloud.google.com/">Google Cloud Platform</a>
      </footer>
    </div>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.8/angular.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="chart.js"></script>
  </body>
</html>
